<!--The content below is only a placeholder and can be replaced.-->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes"></script>

<!--
<div>
<menu></menu><router-outlet></router-outlet>
</div> -->

<!--
<div style="text-align:center">
  <h1>
    <img  style="align:center" width="300" alt="Angular Logo" src="../assets/2.jpg">
  </h1>
   <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> 
  <img width="300" alt="Angular Logo" src="../assets/2.jpg"> 
</div> -->

<!--
<h2>Here are some links to help you start: </h2>
-->




<div  class="header1" [@scrollAnimation]="state" [@scrollAnimation]="isNavbarCollapsed"> 
<!--
<p (click)="toggle()" style="
    color: azure;
    font: icon;
    font-family: cursive;
" id="bt">{{buttonName}}</p>
-->


<!--
<ng-container *ngIf="show">
<nav class="navbar" >
	<div class="header" style="text-align:center">
      <label>Name:</label>
	</div>
</nav>
</ng-container>
-->

<!--
<navbar></navbar>
-->

<!--
<div class="menu">
      
      <div id="btMenu" class="open">
        <span class="barre"></span>
        <span class="barre"></span>
        <span class="barre"></span>
        <p>Menu</p>
        <p class="close-label">Close</p>
      </div>

  </div>
-->





<nav class="row navbar-fixed-top navbar-dark bg-dark" > 
<div class="col-sm-12 desktop-show">
	<span class="navbar-brand mb-1 h2">Menu</span>
	<button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
  </button>
	<div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
		<a class="nav-item col-sm-2 nav-link active text-white">
			Products
		</a>
		<a class="nav-item col-sm-2 nav-link active text-white" routerLink="/product1" (click)="authService.logout()">
			Product 1
			<span class="sr-only">(current)</span>
		</a>
		<!--<a class="nav-item nav-link active text-white">
			Perfil: TODO
		</a>
		<button class="nav-item btn btn-outline-warning ml-3 mr-3">Más opciones</button>
		<a class="nav-item nav-link active text-white" routerLink="/" (click)="authService.logout()">
			Salir
			<span class="sr-only">(current)</span>
		</a> -->
	</div>
	</div>
</nav> 


</div>

<div class="image1">

</div>
<div style=" position:relative; width:100%; height:200px; padding:5px; bottom:5px; ">
<ngu-carousel
      [inputs]="carouselTile"
      (initData)="initDataFn($event)"
      (carouselLoad)="carouselTileLoad($event)">

            <ngu-tile NguCarouselItem *ngFor="let Tile of carouselTileItems"> 
			<div class="tile" [style.background]="'url(' + Tile.id + ')'" style="min-height: 600px;min-width: 420px"> 
            <a href="http://localhost:4200/{{Tile.name}}" style="background-color:white; align:center">
			<button>Click here to know about this product</button>
			</a>    
			</div>
            </ngu-tile>
			<button NguCarouselPrev class='leftRs'>&lt;</button>
            <button NguCarouselNext class='rightRs'>&gt;</button>
</ngu-carousel> 
</div>

<!--
<div class="image3">

</div>
<div class="image4">

</div>
<div class="image5"> 

</div>

-->



