.header{
  position: fixed;
  top: 0px;
  width:100%;
  z-index: 2;
  background: #252830;
  height:70px; 
  margin-left: 40px;
} 
ul {
  list-style-type: none; 
  padding: 40px;
}
h2{
  margin-top: 13px;
}